{% extends "layout.html" %} {% block content %}

<div>
  <h1>CMS Snapshot</h1>
  <p>Save websites to your computer</p>
</div>

<form action="/scrape">
  <div class="form-group">
    <label for="url">Enter your url:</label><br />
    <input
      type="text"
      id="url"
      name="url"
      placeholder="https://yoursite.com"
      value="https://wordpress-343891-1520087.cloudwaysapps.com/"
    />
    <div>
      <label for="all-pages"
        >Download all pages we can find on the same domain?</label
      >

      <input type="checkbox" id="all-pages" name="all-pages" />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Save Website</button>
</form>

{% endblock %}
